.AlbumList {
    padding: 1rem;
    width: 100%;
    width: 50rem;

    .swiperSongGroup {
        background: #eee;
        border: 1px solid #ccc;
        padding: 1rem 1rem .5rem 1rem;

        .warp {
            img {
                width: 7rem;
                cursor: pointer;
                border: 1px solid #999;
               
            }
            .song {
                font-size: 14px;
            }
            .songers {
                font-size: 13px;
                color: #999;
            }
        }
        .warp::after {
            content: "";
            width: 6.5rem;
            height: 6.5rem;
            background: #000;
            position: absolute;
            left: 2rem;
            top: .5rem;
            border-radius: 50%;
            z-index: -1;
            box-shadow: 0 0 5px #333;
        }
    }
}